<html th:replace="~{layout/layoutFile :: layout(~{::title},~{::section})}"
      xmlns:th="html://www.thymeleaf.org">

<title>Board</title>

<section>
  <div class="container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>게시글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="post: ${posts}">
          <td th:text="${post.id}"></td>
          <td><a th:href="@{/post/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
          <td th:text="${post.user.username}"></td>
          <td th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd')}"></td>
          <td th:text="${post.viewCount}"></td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <a href="/post" class="btn btn-info" role="button">📝글쓰기</a>
    </div>
  </div>
</section>
